body
{
     font:family:Arial;
     color:white;
	 background-color:red;
}
h1
{
  font-family:elephant;
}
  h2
{
  font-family:Arial;
}
h3
{
  font-family;calibri;
}
h4
{
  font-family:verdana;
}
h5
{
 font-family:times new roman;
}
h6
{
 font.family:britannic bold;
}
h7
{
font-family:consolas;
}